{% extends 'dashboard/base.html' %}

{% block title %}Acceso administrador{% endblock %}

{% block content %}
  <div class="login-container">
    <h1>Panel administrativo</h1>
    {% if form.errors %}
      <div class="alert">Credenciales inválidas.</div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <label for="id_username">Usuario
        {{ form.username }}
      </label>
      <label for="id_password">Contraseña
        {{ form.password }}
      </label>
      <button class="btn" type="submit">Ingresar</button>
    </form>
  </div>
{% endblock %}